/*
    COLORS

    PURPLE #6441a4
    RED #ed6a5a
    GREEN #7abc84
    YELLOW #e9c46a
    WHITE #FFF
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 70px;
  margin-bottom: 40px;
}

.navbar-inverse {
  background-color: #FFF;
  border-bottom-color: #EAEBED;
}

.navbar-inverse .navbar-brand {
  color: #6441a4;
}

.navbar-inverse .navbar-brand:hover {
  color: #6441a4;
}

.navbar-inverse .navbar-nav > li:nth-child(1) > a {
  color: #383F51;
}
.navbar-inverse .navbar-nav > li:nth-child(2) > a {
  color: #6441a4;
}
.navbar-inverse .navbar-nav > li:nth-child(3) > a {
  color: #ed6a5a;
}
.navbar-inverse .navbar-nav > li:nth-child(1) > a:hover {
  background-color: #383F51;
  color: #FFF;
}
.navbar-inverse .navbar-nav > li:nth-child(2) > a:hover {
  background-color: #6441a4;
  color: #FFF;
}
.navbar-inverse .navbar-nav > li:nth-child(3) > a:hover {
  background-color: #ed6a5a;
  color: #FFF;
}

/* PANELS */
.panel-body {

}

/* HIDE PANEL */
.hiddenRow {
  display: none !important;
}

.panel-success {
  border-color: #6441a4;
}
.panel-success > .panel-heading {
  background-color: #6441a4;
  color: #FFF;
}

.panel-danger {
  border-color: #ed6a5a;
}
.panel-danger > .panel-heading {
  background-color: #ed6a5a;
  color: #FFF;
  font-weight: bold;
}

.panel-warning {
  border-color: #e9c46a;
}
.panel-warning > .panel-heading {
  background-color: #e9c46a;
  color: #FFF;
  font-weight: bold;
}

.panel-heading > a {
  color: #FFF;
  font-weight: bold;
}

.panel-heading > .status {
  float: right;
  font-weight: bold;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer > .container > p {
  color: #6441a4;
  margin: 10px 0px;
}

.footer > .container > p > a {
  color: #6441a4;
}
